<div class="sidebar p-3 text-white">
    <h5>Menu:</h5>
    <ul class="nav flex-column">
      <li class="nav-item"><a href="/home" class="nav-link">Menu</a></li>
      <li class="nav-item"><a href="/carteira" class="nav-link">Carteira</a></li>
      <li class="nav-item"><a href="/produtos" class="nav-link">Produtos</a></li>
      <li class="nav-item"><a href="/clientes" class="nav-link">Clientes</a></li>
      <li class="nav-item"><a href="/funcionarios" class="nav-link">Funcionarios</a></li>
      <li class="nav-item"><a href="/pedidos" class="nav-link">Pedidos</a></li>
      <li class="nav-item"><a href="/pedidos_lista/0" class="nav-link">Lista de Pedidos</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Entregas (Desenvolvendo)</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Graficos (Desenvolvendo)</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Pagamentos (Desenvolvendo)</a></li>
    </ul>
  </div>
