<div class="sidebar-vertical">
    
    <img src="/logo.png" class="sidebar-logo" alt="Logo Sabor do Campo">

    <ul class="sidebar-menu"> 
      
      <li class="sidebar-item-card"><a href="/home">Menu</a></li>

      <% if (user.role_id === 1) { %>
        <li class="sidebar-item-card"><a href="/carteira">Carteira</a></li>
        <li class="sidebar-item-card"><a href="/produtos">Produtos</a></li>
        <li class="sidebar-item-card"><a href="/clientes">Clientes</a></li>
        <li class="sidebar-item-card"><a href="/funcionarios">Funcionarios</a></li>
        <li class="sidebar-item-card"><a href="/pedidos">Pedidos</a></li>
      <% } %>

      <li class="sidebar-item-card"><a href="/pedidos_lista/0">Lista de Pedidos</a></li>
    </ul>
    
    </div>